.login {
  width: 90%;
  margin: 100px auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}
@media (min-width: 992px) {
  .login {
    width: 60%;
  }
}
.login .loginhead {
  margin-top: -40px;
  margin-bottom: 20px;
}
.login .loginhead h2 {
  display: inline-block;
  padding: 5px 50px;
  background-color: #f44336;
  border-radius: 30px;
  font-size: 28px;
  color: #fff;
}

.login mat-form-field {
  width: 100%;
}

.login .loginfooter button {
  margin-top: 15px;
  padding: 0px 30px;
  font-size: 18px;
}
.login .loginfooter a {
  text-decoration: none;
}
